@use 'variaveis';

.hero {
    padding: 4.6vw;
    // padding: 24.6vw;
    min-width: 80vh;
    background-image: url(../images/hero_desktop.jpeg);
    background-size: cover;
    text-align: center;
    display: flex;


    &__content {
        max-width: 640px;
   
       


        &__branding {
            // max-width: 320px;
            max-width: 250px;
            margin: 0 auto 30px;
        }


        .title--small {
            margin-bottom: 30px;
            // margin-bottom: 64px;
        }


        p {
            margin-bottom: 30px;

            &:last-child {
                margin-top: 20px;
                // margin-top: 60px;
            }
        }

        &__combos {
            display: flex;
            justify-content: space-between;
            &__combo {
                width: calc(50% - 12px);

                img {
                    max-height: 60px;
                }

            }
        }
    }
}
